<!DOCTYPE HTML>
<html>
  <head>
    <title>LeanEngine</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
  </head>
  <body>
    <p>这是一个可以运行在 LeanEngine 的 Node.js 运行时环境</p>
    <p>currentTime: <%= currentTime %></p>
    <p>env: <%= env %></p>
    <a href="todos">todos</a>
    <a href="wechat">wechat</a>
    <a href="wechat">wechat</a>
  </body>
</html>
